<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<body>

<table width="400" border="1">
    <thead>
    <th>重复</th>
    <th colspan="2">时间阶段</th>
    </thead>
    <tr>
        <th align="left" rowspan="3">周一</th>
        <th align="right">上午</th>
        <th align="right"><input type="checkbox" name="vehicle" value="Car">8-9
                         <input type="checkbox" name="vehicle" value="Car">10-12</th>
    </tr>
    <tr>
        <td align="right">下午</td>
        <td align="right"><li>12-13</li>
                         <li>13：30-15:30</li></td>
    </tr>
    <tr>
        <td align="right">晚上</td>
        <td align="right"><li>18-20</li></td>
    </tr>
    <tr>
        <td align="left">食物</td>
        <td align="right">$730.40</td>
        <td align="right">$650.00</td>
    </tr>
    <tr>
        <th align="left">总计</th>
        <th align="right">$1001.50</th>
        <th align="right">$744.65</th>
    </tr>
</table>

</body>


</html>