<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user -->
<!-- -->
<!-- For professional support please see -->
<!-- http://www.qos.ch/shop/products/professionalSupport -->
<!-- -->
<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %c:%L--&gt;%m%n</pattern>
		</encoder>
	</appender>



  <!--<appender name="ROLL" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
    <!--<file>${catalina.base}/logs/credit-center.log</file>-->
    <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
      <!--&lt;!&ndash; daily rollover &ndash;&gt;-->
      <!--<fileNamePattern>${catalina.base}/logs/xcredit-center.%d{yyyy-MM-dd}.%i.log</fileNamePattern>-->
      <!--<timeBasedFileNamingAndTriggeringPolicy-->
          <!--class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
          <!--&lt;!&ndash; or whenever the file size reaches 50MB &ndash;&gt;-->
        <!--<maxFileSize>50MB</maxFileSize>-->
      <!--</timeBasedFileNamingAndTriggeringPolicy>-->
      <!--&lt;!&ndash; keep 30 days' worth of history &ndash;&gt;-->
      <!--<maxHistory>30</maxHistory>-->
    <!--</rollingPolicy>-->
   <!--<layout class="ch.qos.logback.classic.PatternLayout">-->
         <!--<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %c:%L&#45;&#45;&gt;%m%n-->
         <!--</pattern>-->
     <!--</layout>-->
  <!--</appender>-->


	<!-- <logger name="org.hibernate" level="INFO" />
	<logger name="org.springframework.security" level="INFO" />
	<logger name="org.springframework" level="INFO"/>
	<logger name="org.springframework.web" level="INFO"/>
	<logger name="org.springframework.orm" level="INFO"/>
	<logger name="net.sf.ehcache" level="OFF"></logger>
	<logger name="org.apache.http" level="OFF"></logger>
	<logger name="org.apache.http.wire" level="OFF"></logger> 
	<logger name="org.apache.commons.beanutils" level="ERROR"></logger>-->



	
	<root level="info">
		<appender-ref ref="console" />
		<!-- <appender-ref ref="FILE"/>
		<appender-ref ref="ROLL" /> -->
		
		<!-- <appender-ref ref="DB"/> -->
	</root>


</configuration>